h1 {
    font-size: 1.5625rem;
}

.sensei_hero_img img{
    width: 29rem;
    height: 20rem;
}

.sensei_leftside h1 {
    color: #FFCD00;
}

.sensei_leftside p {
    color: #A2A2A4;
    width: 32.1875rem;
}

.sensei_rightside {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
}

.sensei_leftside {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50%;
    height: 100vh;
    border-top-left-radius: 0.625rem;
}

.sensei_main {
    display: flex;
}

.sensei_rightside_center {
    text-align: center;
}

.sensei_rightside h1{
    display: flex;
    height: 3rem;
    justify-content: center;
    color: #4D5667;
}

.sensei_rightside p {
    color: #A2A2A4;
}

.sensei_leftside_start {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.btn1,
.btn2 {
    margin: 1rem;
    border-radius: 0.375rem;
    border: 1px solid #FFCD00;
    padding: 1rem 2.5rem;
    font-size: 1.125rem;
}

.btn1 {   
    background: none;
    color: #FFCD00; 
}

.btn2 {
    color: white;
    background: #FFCD00;
}

.indicators {
    text-align: center;
    margin-top: 10px;
}

.indicators span {
    display: inline-block;
    width: 3.0625rem;
    height: 0.375rem;
    border-radius: 0.3125rem;
    background-color: #efefef; 
    margin: 0 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }

.indicators span.active {
    background-color: #FFCD00;
  }