.sensei_nav {
    padding-left: 3.12rem;
    padding-top: 2rem;
}

.sensei_nav_logo {
    width: 9.875rem;
    height: 4.6875rem;
}

@media screen and (max-width: 991px) {
    .sensei_nav{
        text-align: center;
        padding-left: 0;
        padding-bottom: 1rem;
    }
}
